<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoReg</servlet-name>
    <servlet-class>servlets.DoReg</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NumberServlet</servlet-name>
    <servlet-class>servlets.NumberServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCart</servlet-name>
    <servlet-class>servlets.AddCart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelCart</servlet-name>
    <servlet-class>servlets.DelCart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EdiCart</servlet-name>
    <servlet-class>servlets.EdiCart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>servlets.AddProduct</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditProduct</servlet-name>
    <servlet-class>servlets.EditProduct</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet2</servlet-name>
    <servlet-class>servlets.LoginServlet2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>servlets.DeleteServlet</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoReg</servlet-name>
    <url-pattern>/servlet/DoReg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NumberServlet</servlet-name>
    <url-pattern>/servlet/NumberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCart</servlet-name>
    <url-pattern>/servlet/AddCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCart</servlet-name>
    <url-pattern>/servlet/DelCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EdiCart</servlet-name>
    <url-pattern>/servlet/EdiCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/servlet/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditProduct</servlet-name>
    <url-pattern>/servlet/EditProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet2</servlet-name>
    <url-pattern>/servlet/LoginServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/servlet/DeleteServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
